<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".View.AddPreApprovedEmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".View.ExtraHoursActivity"
            android:exported="false" />
        <activity
            android:name=".View.TravelingExpensesActivity"
            android:exported="false" />
        <activity
            android:name=".View.CalculateActivity"
            android:exported="false" />
        <activity
            android:name=".View.SalaryActivity"
            android:exported="false" />
        <activity
            android:name=".View.SickDaysActivity"
            android:exported="false" />
        <activity
            android:name=".View.BreaksActivity"
            android:exported="false" />
        <activity
            android:name=".View.MainWorkMenu"
            android:exported="false" />
        <activity
            android:name=".View.MainCurrWork"
            android:exported="false" />
        <activity
            android:name=".View.MainPreWork"
            android:exported="false" />
        <activity
            android:name=".View.ManagerActivity"
            android:exported="false" />
        <activity
            android:name=".View.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".View.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".View.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".View.EmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".View.MainShifts"
            android:exported="false" />
        <activity
            android:name=".View.ViewEmployeesActivity"
            android:exported="false" />
        <activity
            android:name=".View.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>